
<header>

    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_1280.jpg');
        height: 400px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Bienvenue sur NawalRead</h1>
            <br>
            <br>
            <h4 class="mb-3">Trouver vos livres préférés facilement</h4>
            <br>
  
          <br>
          <br>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header> 
      <h1 class="display-6 fw-bolder"> resultat : </h1>
     
      <div class="container px-4 px-lg-5 mt-5">
      
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
        
           
          </div>
        </div>
     
      